{% extends "./layout/layout.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/register.css">
{% endblock %}

{% block body %}
<div class="aw-register-box">
  <div class="mod-head">
    <a href=""><img src="/static/img/Laravel-Four-Revised-Icon.png" alt=""></a>
    <h1>注册新用户</h1>
  </div>
  <div class="mod-body">
    <form class="aw-register-form" action="/account/register" method="post" id="register_form">
      <ul>
        <li class="alert alert-danger hide error_message text-left">
          <i class="icon icon-delete"></i> <em></em>
        </li>
        <li>
          <input class="aw-register-name form-control" type="text" name="username"   placeholder="用户名" id="username">
        </li>
        <li>
          <input class="aw-register-email form-control" type="text" placeholder="邮箱" name="email" id="email" >
        </li>
        <li>
          <input class="aw-register-pwd form-control" type="password" name="password" placeholder="密码" id="password">
        </li>
        <li>
          <input class="aw-register-pwd form-control" type="password" name="confirm_password" placeholder="密码" id="confirm_passwor">
        </li>
        <li class="more-information hide" id="information">
          <ul>
            <li>
              性别:
              <label>
                <input name="sex"  value="1" type="radio"> 男 </label>&nbsp;
              <label>
                <input name="sex"  value="2" type="radio"> 女 </label>&nbsp;
              <label>
                <input name="sex"  value="3" type="radio" checked="checked"> 保密 </label>
            </li>
            <li>
              <input type="text" class="form-control" placeholder="一句话介绍" id="welcome_signature"  name="signature">
            </li>
          </ul>
        </li>
        <li>
          <hr />
          <a class="more-information-btn" id="more-information"}>更多资料</a>
        </li>
        <li class="last">
          <label>
            <input type="checkbox" checked="checked" value="agree" name="agreement_chk"> 我同意</label> <a href="javascript:;" class="aw-agreement-btn" id="user_agreement">用户协议</a>
          <a href="/account/login/" class="pull-right">已有账号?</a>
          <div class="aw-regiter-agreement hide" id="register_agreement">
            <div class="aw-register-agreement-txt" >当您申请用户时，表示您已经同意遵守本规章。
              <br> 欢迎您加入本站点参与交流和讨论，本站点为社区，为维护网上公共秩序和社会稳定，请您自觉遵守以下条款：
              <br>
              <br> 一、不得利用本站危害国家安全、泄露国家秘密，不得侵犯国家社会集体的和公民的合法权益，不得利用本站制作、复制和传播下列信息：
              <br> 　（一）煽动抗拒、破坏宪法和法律、行政法规实施的；
              <br> 　（二）煽动颠覆国家政权，推翻社会主义制度的；
              <br> 　（三）煽动分裂国家、破坏国家统一的；
              <br> 　（四）煽动民族仇恨、民族歧视，破坏民族团结的；
              <br> 　（五）捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
              <br> 　（六）宣扬封建迷信、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
              <br> 　（七）公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
              <br> 　（八）损害国家机关信誉的；
              <br> 　（九）其他违反宪法和法律行政法规的；
              <br> 　（十）进行商业广告行为的。
              <br>
              <br> 二、互相尊重，对自己的言论和行为负责。
              <br> 三、禁止在申请用户时使用相关本站的词汇，或是带有侮辱、毁谤、造谣类的或是有其含义的各种语言进行注册用户，否则我们会将其删除。
              <br> 四、禁止以任何方式对本站进行各种破坏行为。
              <br> 五、如果您有违反国家相关法律法规的行为，本站概不负责，您的登录信息均被记录无疑，必要时，我们会向相关的国家管理部门提供此类信息。
            </div>
          </div>
        </li>
        <li>
          <table border="0" cellspacing="5" cellpadding="5" >
               <tr>
                <td ><div class="code" id="checkCode" onclick="createCode()" ></div></td>
                <td class="td_a"><a href="javascript:;" onclick="createCode()">看不清换一张</a></td>
               </tr>
               <tr>
                <td><input style="float:left;width: 225px;" type="text"  id="inputCode" placeholder="请输入验证码"/></td>
               </tr>
          </table>
        </li>
        <br>
        <li class="clearfix">
          <button class="btn btn-large btn-blue btn-block" type='submit'>注册</button>
        </li>
      </ul>
    </form>
  </div>
  <div class="mod-footer"></div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  createCode();
  $().ready(function() {
    $("#register_form").validate({
      rules: {
        username: {
          required: true,
        },
        email: {
          required: true,
          email: true
        },
        password: {
          required: true,
          minlength: 5
        },
        confirm_password: {
          required: true,
          minlength: 5,
          equalTo: "#password"
        }
      },
      messages: {
        username:"请输入姓名",
        email: {
          required: "请输入Email地址",
          email: "请输入正确的email地址"
        },
        password: {
          required: "请输入密码",
        },
        confirm_password: {
          required: "请输入确认密码",
          minlength: "确认密码不能小于5个字符",
          equalTo: "两次输入密码不一致不一致"
        }
      },
      submitHandler: function()
      {
        var sendData = $("form").serializeArray();
        sendData.push({"name":"code","value":code},{"name":"userCode","value":$('#inputCode')[0].value})
        console.log(sendData)
        $.ajax({
          url:'/account/register',
          type: "POST",
          data:sendData,
          success: function(data) {
              if(data.status !== 'OK'){
                alert("错误码:"+data.error_code +";错误信息："+data.error_message);
                document.getElementById("register_form").reset();
              }
              if(data.status == 'OK'){
                window.alert('恭喜，注册成功')
                window.location.href = '/'  //坑，跳转到主页，并且要显示刚刚注册的用户
              }
          }
        });
      }
    });
  });
  $('#more-information').on('click',function () {
      $('#information').toggleClass('hide')
  });
  $('#user_agreement').on('click',function (){
    $('#register_agreement').toggleClass('hide')
  })

</script>
{% endblock %}

{% block topScript %}
<script type="text/javascript">
  var code;
  function createCode()
  {
    code = "";
    var codeLength = 6; //验证码的长度 测试阶段 只用1位，完成后6位即可
    var checkCode = document.getElementById("checkCode");
    var codeChars = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
      'a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z',
      'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z'); //所有候选组成验证码的字符，当然也可以用中文的
    for(var i = 0; i < codeLength; i++)
    {
      var charNum = Math.floor(Math.random() * 52);
      code += codeChars[charNum];
    }
    if(checkCode)
    {
      checkCode.className = "code";
      checkCode.innerHTML = code;
    }
  }
    <!--var inputCode=document.getElementById("inputCode").value;-->
    <!--(inputCode.toUpperCase() != code.toUpperCase())-->
    <!---->
</script>
{% endblock %}
